{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<div class="ui grid container">
		<div class="twelve wide column">
			<div class="ui fluid action input">
				<input type="text" placeholder="Search knowledge database...">
				<div class="ui button">Search</div>
			</div>
			<h3 class="ui top attached header">Browse by categories</h3>
			<div class="ui bottom attached segment">
				<div class="ui five column grid" style="padding: 20px 0 20px 0">
				  <div class="center aligned column">
					  <a href="http://google.com" class="ui small image">
					      <img src="static/img/x-ray.png">
					      <h3 class="ui header" style="margin: 0">X-Ray</h3>
					  </a>
				  </div>
				  <div class="center aligned column">
					  <a href="http://google.com" class="ui small image">
					      <img src="static/img/x-ray.png">
					      <h3 class="ui header" style="margin: 0">X-Ray</h3>
					  </a>
				  </div>				  
				  <div class="center aligned column">
					  <a href="http://google.com" class="ui small image">
					      <img src="static/img/x-ray.png">
					      <h3 class="ui header" style="margin: 0">X-Ray</h3>
					  </a>
				  </div>
				  <div class="center aligned column">
					  <a href="http://google.com" class="ui small image">
					      <img src="static/img/x-ray.png">
					      <h3 class="ui header" style="margin: 0">X-Ray</h3>
					  </a>
				  </div>
				  <div class="center aligned column">
					  <a href="http://google.com" class="ui small image">
					      <img src="static/img/x-ray.png">
					      <h3 class="ui header" style="margin: 0">X-Ray</h3>
					  </a>
				  </div>
				  <div class="center aligned column">
					  <a href="http://google.com" class="ui small image">
					      <img src="static/img/x-ray.png">
					      <h3 class="ui header" style="margin: 0">X-Ray</h3>
					  </a>
				  </div>				  
				</div>
			</div>
			<h3 class="ui top attached header">Most popular topics</h3>
			<div class="ui bottom attached segment">
				
			</div>
		</div>
		<div class="four wide column">
			<div class="ui segment"></div>
		</div>
	</div>

{% endblock %}