{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="ui grid container">
    <div class="ten wide column">
        <div class="ui fluid card">
            <div class="content">
                <h1 class="ui header">{{ title }}</h1>
                <img class="ui huge image" src="{{ url_for('video_feed') }}">
                <!-- <img class="resize" src="{{ url_for('video_feed', width=400, height=300)}}"> -->
                <!-- {% if current_user.is_authenticated %}
                    <h2 class="ui header">Hi {{ current_user.name }}!</h2>
                {% endif %} -->
            </div>
        </div>
    </div>
    <div class="six wide column">
        <!-- <div class="ui top attached clearing segment">
            <div class="ui left floated header" style="margin: 0">Blood pressure</div>
        </div> -->
        <!-- <div class="ui attached grid container center aligned segment">  -->
            <div class="row">
              <h1 class="ui huge header">
                Section title
              </h1>
            </div>
            <div>
              <table class="ui single line striped selectable table">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                    <th>
                      Header
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1,001
                    </td>
                    <td>
                      Lorem
                    </td>
                    <td>
                      ipsum
                    </td>
                    <td>
                      dolor
                    </td>
                    <td>
                      sit
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,002
                    </td>
                    <td>
                      amet
                    </td>
                    <td>
                      consectetur
                    </td>
                    <td>
                      adipiscing
                    </td>
                    <td>
                      elit
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,003
                    </td>
                    <td>
                      Integer
                    </td>
                    <td>
                      nec
                    </td>
                    <td>
                      odio
                    </td>
                    <td>
                      Praesent
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,003
                    </td>
                    <td>
                      libero
                    </td>
                    <td>
                      Sed
                    </td>
                    <td>
                      cursus
                    </td>
                    <td>
                      ante
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,004
                    </td>
                    <td>
                      dapibus
                    </td>
                    <td>
                      diam
                    </td>
                    <td>
                      Sed
                    </td>
                    <td>
                      nisi
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,005
                    </td>
                    <td>
                      Nulla
                    </td>
                    <td>
                      quis
                    </td>
                    <td>
                      sem
                    </td>
                    <td>
                      at
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,006
                    </td>
                    <td>
                      nibh
                    </td>
                    <td>
                      elementum
                    </td>
                    <td>
                      imperdiet
                    </td>
                    <td>
                      Duis
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,007
                    </td>
                    <td>
                      sagittis
                    </td>
                    <td>
                      ipsum
                    </td>
                    <td>
                      Praesent
                    </td>
                    <td>
                      mauris
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,008
                    </td>
                    <td>
                      Fusce
                    </td>
                    <td>
                      nec
                    </td>
                    <td>
                      tellus
                    </td>
                    <td>
                      sed
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,009
                    </td>
                    <td>
                      augue
                    </td>
                    <td>
                      semper
                    </td>
                    <td>
                      porta
                    </td>
                    <td>
                      Mauris
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,010
                    </td>
                    <td>
                      massa
                    </td>
                    <td>
                      Vestibulum
                    </td>
                    <td>
                      lacinia
                    </td>
                    <td>
                      arcu
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,011
                    </td>
                    <td>
                      eget
                    </td>
                    <td>
                      nulla
                    </td>
                    <td>
                      Class
                    </td>
                    <td>
                      aptent
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,012
                    </td>
                    <td>
                      taciti
                    </td>
                    <td>
                      sociosqu
                    </td>
                    <td>
                      ad
                    </td>
                    <td>
                      litora
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,013
                    </td>
                    <td>
                      torquent
                    </td>
                    <td>
                      per
                    </td>
                    <td>
                      conubia
                    </td>
                    <td>
                      nostra
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,014
                    </td>
                    <td>
                      per
                    </td>
                    <td>
                      inceptos
                    </td>
                    <td>
                      himenaeos
                    </td>
                    <td>
                      Curabitur
                    </td>
                  </tr>
                  <tr>
                    <td>
                      1,015
                    </td>
                    <td>
                      sodales
                    </td>
                    <td>
                      ligula
                    </td>
                    <td>
                      in
                    </td>
                    <td>
                      libero
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          </div>
    </div>
</div>

<!--     <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/8c4c69035f4f4773813533d7ca56e516/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/8c4c69035f4f4773813533d7ca56e516?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Gastrointestinal Tract</a>
    by <a href="https://sketchfab.com/Ebers?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Ebers</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
</div> -->

{% endblock %}